@import (reference) "base.less";

#content-list {
  .padding(@t: 2em);

  ul {
    .no-padding;
  }

  section {
    .margin(@t: 2em);
  }

  h2 {
    .text(@size: 1.3em, @color: #555, @align: center);
    &:hover {
      .text(@color: black)
    }
  }

  summary {
    .text(@size: 0.9em, @color: #555);
    line-height: 1.3em;
  }

  header {
    .margin(@b: 3em);
    .text(@align: center, @size: .7em);

    p {
      .text(@color: gray);
    }

    a {
      .text(@color: #888);

      &:hover {
        .text(@color: black);
      }
    }
  }

  .authors, .category, .time {
    display: inline-block;
    .margin(@r: 5px, @t: 1.5em);
  }

  .tags {
    p {
      display: inline-block;
      .margin(@t: 1em);
    }
  }

  .hr {
    .margin(@all: 5em auto 5em auto);
  }

  .index-preview {
    .margin(@t: 1em, @b: 2em);

    p {
      .margin(@all: auto);
      .size(@w: 96%);
      .text(@color: #555, @size: .9em, @weight: bolder, @align: center);
    }

    .hr-home {
      .margin(@t: 1.5em, @b: 1.5em);
      .size(100%, 2px);
    }
  }
}

#authors {
  .no-padding;
  .margin(@t: 3em, @b: 3em);
  .text(@align: center, @size: 2em);
  list-style: none;
  line-height: 4em;

  span {
    .border(@rad: 0.1em 0 0 .1em);
  }

  a {
    .padding(@l: .5em, @r: .5em, @t: 1px, @b: 1px);
  }
}

#tag-cloud{
  .no-padding;
  .margin(@t: 10%);
  line-height: 1.5em;
  list-style: none;

  .tag {
    display: inline-block;
    margin: .5em;
  }
}
