@import (reference) "base.less";

#content-list {
  .full-width;
  .padding(@t: 2em);

  ul {
    .no-padding;
  }

  section {
    //.padding(@b: 3em);
  }

  h2 {
    .margin(@t: 40px);
    .text(@size: 1.3em, @color: #555, @align: center, @deco: none);
    &:hover {
      .text(@color: black)
    }
  }

  summary {
    .text(@size: 0.9em, @color: #555, @align: left);
    line-height: 1.3em;
  }

  header {
    .margin(@b: 3em);
    .text(@align: center, @size: .7em);

    p {
      .text(@color: gray, @align: center);
    }

    a {
      .text(@color: #888);

      &:hover {
        .text(@color: black);
      }
    }
  }

  .authors, .category, .time, .tags {
    span {
      .padding(@all: 2px 10px 2px 8px);
      .border(@rad: 3px 0 0 3px);
      .text(@color: white);
      .background(@color: rgb(108, 168, 43));
    }

    a {
      .padding(@l: 6px, @r: 6px, @t: 1px, @b: 1px);
      .background(@color: #fafafa);
      .border(@t: 1px solid #dadada, @b: 1px solid #d2d2d2, @r: 1px solid #c5c5c5, @l: 1px solid #dadada);
      .box(@shadow: 0 1px 2px rgba(0, 0, 0, 0.05));

      &:hover {
        .background(@color: #f2f2f2);
      }
    }
  }

  .authors, .category, .time {
    display: inline-block;
    .margin(@r: 5px, @t: 1.5em);
  }

  .tags {
    p {
      display: inline-block;
      .margin(@t: 1em);
    }
  }

  .hr {
    .margin(@all: 4em auto 4em auto);
    .size(20%, 1px);
  }

  .index-preview {
    .full-width;
    .margin(@t: 30px, @b: 20px);

    p {
      .margin(@l: 1%);
      .size(@w: 98%);
      .text(@color: #555, @size: 14px, @weight: bolder, @align: center);
    }

    .sphr {
      .margin(@t: 20px, @b: 20px);
      .size(100%, 2px);
    }
  }
}

#author-list {
  .margin(@t: 100%);
  .full-width;
  .text(@align: center);
  list-style: none;

  li {
    .margin(@b: 40px);
  }

  a {
    .full-width;
    .text(@size: 40px, @color: #444);
  }
}

#tag-cloud{
  .margin(@t: 10%);
  line-height: 30px;

  a {
    .padding(@all: 4px);
  }
}
