@import "base";

#main {
  position: relative;

  .left {
    float: left;
  }

  .middle {
    float: left;
  }

  .right {
    float: left;
  }
}

@media (min-width: 960px) {
  #main {
    .size(100%, 100%);

    .left {
      .size(30%, 100%);
    }

    .middle {
      .size(50%, 100%);

      .top {
        .size(100%, 20px)
      }
    }

    .right {
      .size(20%, 100%);
    }
  }
}

@media (max-width: 960px) {
  #main {
    .size(@w: 100%);

    .left {
      .size(10%, 100%);
    }

    .middle {
      .size(80%, 100%);

      .top {
        .size(100%, 20px)
      }
    }

    .right {
      .size(10%, 100%);
    }
  }
}


#content {
  .position(@t: 10px);
  .no-padding;
  .size(100%, 85%);
}
