@import "base";

#main {
  position: relative;
  z-index: 8;

  > .left {
    float: left;
    .size(30%, 100%);
  }

  > .right {
    float: left;
    .size(20%, 100%);
  }
}

@media (min-width: 960px) {
  #main {
    .size(100%, 100%);

    > .left {
      display: block;
    }

    > .middle {
      float: left;
      .size(50%, 100%);

      > .top {
        .size(100%, 20px)
      }
    }

    > .right {
      display: block;
    }
  }
}

@media (max-width: 960px) {
  #main {
    .size(@w: 100%);

    > .left {
      display: none;
    }

    > .middle {
      position: relative;
      .padding(@l: 10%);
      .size(@w: 80%);

      > .top {
        .size(100%, 20px)
      }
    }

    > .right {
      display: none;
    }
  }
}


#content {
  .position(@t: 10px);
  .no-padding;
  .size(100%, 85%);
}
