@import (reference) "base.less";

@font-face {
  font-family: social-share;
  src: url(../font/iconfont.woff) format("woff");
}

.share-icon(@content, @color) {
  .text(@color: @color);
  .border(@color: @color);

  &:before {
    content: @content;
  }
}

#share {
  position: absolute;
  .margin(@t: -2em);
  .position(@r: 20%);
  .size(@w: 60px);

  .icon-share {
    .text(@size: 3em);
    .font-icon(before, share);
  }
}

#share-modal {
  .icon {
    word-break: normal;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    transition: background 0.6s ease-out 0s;

    font-family: social-share !important;

    &:hover {
      background: #666;
      color: #fff;
    }
  }

  .weibo {
    .share-icon("\f12a", #ff763b);
  }

  .tencent {
    .share-icon("\f07a", #56b6e7);
  }

  .qq {
    .share-icon("\f11a", #56b6e7);
  }

  .qzone {
    .share-icon("\f08a", #fdbe3d);
  }

  .douban {
    .share-icon("\f10a", #33b045);
  }

  .linkedin {
    .share-icon("\f01a", #0077b5);
  }

  .facebook {
    .share-icon("\f03a", #44619D);
  }

  .google {
    .share-icon("\f04a", #db4437);
  }

  .twitter {
    .share-icon("\f06a", #55acee);
  }
}