@import "base";

html, body {
  .full;
}

div,span,h1,h2,h3,h4,h5,h6,a,p,button {
  font-family: @fonts ! important;
}

h1,h2,h3,h4,h5,h6,p,a {
  word-break: break-all;
}

button, a {
  cursor: pointer;
}

body {
  font-size: @font-size;
}

.duration-1s{
  -webkit-transition: opacity .5s ease-in,background-color 1s ease-in;
  -moz-transition: opacity .5s ease-in,background-color 1s ease-in;
  -o-transition: opacity .5s ease-in,background-color 1s ease-in;
  transition: opacity .5s ease-in,background-color 1s ease-in;
}

#return-top{
  display: block;
  position: fixed;
  .position(@b: 10px);

  a {
    .border(@all: none);
    .padding(@all: 0);
    .size(48px, 48px);
    .text(@size: 48px);
    .background(@all: none);
    .icon-font-family;

    &:before {
      content: "\e905";
    }
  }
}

@media (min-width: 960px) {
  #return-top {
    .position(@r: 170px);
  }
}

@media (max-width: 960px) {
  #return-top {
    .position(@r: 10px);
  }
}


#player-hr{
  border: 1px solid #ffffff;
}

@media (min-width: 960px) {
  #player1{
    opacity: 0.6;
    position: fixed;
    top: 20px;
    left: 10px;
    width: 23%;
    min-height: 64px;
    max-width: 270px;
  }

  #player1:hover{
    opacity: 0.8;
  }

  #player-hr{
    display: none;
  }
}

@media (max-width: 960px) {
  #player1{
    opacity: 1;
    position: relative;
    margin-bottom: 20px;
    width: 80%;
    padding: 5px 10%;
    min-height: 64px;
  }

  #player-hr{
    display: block;
  }
}
