h1,h2,h3,h4,h5,h6,a,p,button{
	font-family: "Microsoft YaHei",Arial ! important;
}

html, body, #content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

button:focus {
    outline: 0;
}

a{
    cursor: pointer;
}

.full{
    width: 100%;
    height: 100%;
}

.home-menu{
	display: none;
	position: fixed;
	width: 160px;
	height: 280px;
	bottom: 0;
	right: 0;
    background-color: #6ca82b;
}

.home-menu a,p{
	display: inline-block;
	color: black;
	text-decoration: none;
	text-align: center;
}

#home-menu-name{
	display: block;
	margin-top: 10px;
	height: 35px;
	font-size: 24px;
}

.home-menu-icons{
	margin-top: 15px;
}

.home-menu-icon{
	display: inline-block;
    font-size: 26px;
	margin-left: 12px;
	width: 25px;
}

.home-menu-hr1{
	width: 180px;
	border: 1px solid;
	color: black;
	margin-top: 10px;
	margin-left: 10px;
}

#home-menu-home{
	display: block;
	width: 100%;
	margin-top: 5px;
	font-size: 20px;
}

.home-menu-tag-ath{
	display: block;
	margin-top: 5px;
	margin-left: 30px;
	font-size: 16px;
}

#home-menu-tags{
    padding-right: 2px;
}


#home-menu-authors{
    padding-left: 2px;
}

.home-menu-hr2{
	width: 120px;
	border: 1px solid;
	color: black;
	margin-top: 10px;
	margin-left: 20px;
}

.home-menu-links-p{
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 20px;
	text-align: center;
}

.home-menu-links{
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}

#home-menu-proj{
	margin-left: 20px;
    padding-right: 2px;
}

#home-menu-friend{
	background: none;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: #000000;
	text-align: right;
	padding-left: 2px;
}

.home-menu-hr3{
	width: 140px;
	border: 1px solid;
	color: black;
	margin-top: 10px;
	margin-left: 10px;
}

.home-menu-end{
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	font-size: 12px;
}

#home-left{
	position: fixed;
    left: -25%;
	top: 0px;
	width: 50%;
	height: 100%;
    background-size: cover;
    background: #000 50% 50%;
    overflow: hidden;
}

.home-left-image{
    height: 100%;
    width: 50%;
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
}

#home-main{
	position: relative;
}

#home-main-title{
	position: relative;
	margin-top: 20px;
	height: 50px;
}

#home-main-title a{
	display: inline-block;
	color: black;
	text-decoration: none;
	font-size: 20px;
	opacity: 1.0;
}

#title-list{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;;
}

#title-list li{
	display: inline-block;
	width: 25%;
    padding-top: 20px;
}

#title-list a{
	display: inline-block;
	width: 100%;
}

#title-create a{
	text-align: left;
}

#title-skill a{
	padding-left: 35%;
}

#title-art a{
	padding-left: 65%;
}

#title-life a{
	text-align: right;
}

#home-main-title-bar{
	margin-top: 0;
	width: 100%;
	height: 3px;
}

#title-bar{
	display: inline-block;
	height: 3px;
	width: 75px;
	left: 100px;
}

.home-main-content{
	top: 10px;
	width: 100%;
	height: 85%;
	padding: 0px;
}

.home-main-content ul{
	padding: 0px;
}

.home-main-content a{
	color: #888888;
	font-size: 0.9em;
	font-weight: bolder;
	text-decoration: none;
	line-height: 1.5em;
	margin-top: 0px;
}

.home-main-content a:hover{
	color: #000000;
	text-decoration: none;
}

.home-main-content h3{
	font-size: 1.3em;
	color: #000000;
	margin-top: 40px;
}

.home-main-content p{
	margin-top: 0px;
	text-align: left;
	line-height: 1.5em;
	font-size: 0.9em;
	color: gray;
}

.home-main-content-ghr{
	border: 0;
	margin: -10px;
}

.home-menu-phone a,p{
	display: inline-block;
	color: black;
	text-decoration: none;
	text-align: center;
}

.home-menu-phone{
	display: none;
	position: relative;
	margin-top: 0;
	width: 100%;
	height: 120px;
    background-color: #6ca82b;
}

.home-menu-phone .top{
	display: inline-block;
	position: relative;
	width: 70%;
	top: 20px;
	left: 15%;
	margin-bottom: 20px;
}

.home-menu-phone .bottom{
	display: inline-block;
	width: 100%;
}


.home-menu-icon-phone{
    font-size: 26px;
	width: 20%;
}

#home-menu-index-phone{
	font-size: 20px;
	width: 80%;
	margin-left: 10%;
}

#home-menu-index-phone a{
	width: 33%;
	text-align: center;
}

#home-menu-hr1-phone{
	width: 80%;
	border: 1px solid;
	margin:10px auto;
	color: black;
}

footer{
    display: none;
	position: relative;
	margin-top: 20px;
	padding-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	top: 20px;
    font-size: 18px;
    text-align: center;
    background-color: #6ca82b;
}

#home-links-phone{
	display: block;
	width: 60%;
	margin: auto;
}

#home-links-phone .thank{
	width: 32%;
	font-size: 14px;
}

footer a, p {
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;
}

#home-menu-hr3-phone{
	width: 60%;
	margin: 10px auto;
	border: 1px solid;
	color: black;
}

#home-menu-end-phone{
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	font-size: 14px;
}

#home-links{
	position: fixed;
	right: 0;
	top: -400px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 160px;
    transition: top .8s ease-in, background-color .8s ease-in;
}

#home-links ul{
    list-style: none;
	text-align: center;
	margin: 0;
	padding: 5px;
}

#home-links li{
    margin-bottom: 10px;
}

#home-links a{
	color: #000000;
	text-decoration: none;
}

#home-links button{
	background: none;
	cursor: pointer;
	font-size: 18px;
	border: none;
	padding: 0;
	color: #000000;
	text-align: right;
}

.duration-1s{
    -webkit-transition: opacity .5s ease-in,background-color 1s ease-in;
    -moz-transition: opacity .5s ease-in,background-color 1s ease-in;
    -o-transition: opacity .5s ease-in,background-color 1s ease-in;
    transition: opacity .5s ease-in,background-color 1s ease-in;
}

article{
    width: 100%;
}

article .description a{
    padding: 2px;
}

@keyframes rotate-full {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-full {
    from {
        -moz-transform: rotate(0deg);

    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes rotate-full {
    from {
        -ms-transform: rotate(0deg);

    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-full {
    from {
        -webkit-transform: rotate(0deg);

    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes rotate-full {
    from {
        -o-transform: rotate(0deg);

    }
    to {
        -o-transform: rotate(360deg);
    }
}

.content-wait{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.content-wait img{
    width: 25%;
    border-radius: 50%;
    border-left: dashed;
    border-bottom: dashed;
    margin-bottom: 40px;
    animation: rotate-full 3s linear 0s infinite normal;
    -webkit-animation: rotate-full 3s linear 0s infinite normal;
    -o-animation: rotate-full 3s linear 0s infinite normal;
    -moz-animation: rotate-full 3s linear 0s infinite normal;
}

.content-wait p{
    font-size: 18px;
    color: darkslategrey;
}

@keyframes rotate-half-roll {
    0% {
        transform: rotate(0deg);

    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-ms-keyframes rotate-half-roll {
    0% {
        transform: rotate(0deg);

    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-moz-keyframes rotate-half-roll {
    0% {
        -moz-transform: rotate(0deg);

    }
    50% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes rotate-half-roll {
    0% {
        -o-transform: rotate(0deg);

    }
    50% {
        -o-transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

@-webkit-keyframes rotate-half-roll {
    0% {
        -webkit-transform: rotate(0deg);

    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

.content-error{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.content-error img{
    width: 25%;
    border-radius: 50%;
    border-left: dashed;
    border-bottom: dashed;
    margin-bottom: 40px;
    animation: rotate-half-roll 4s ease-out 0s infinite normal;
    -webkit-animation: rotate-half-roll 4s ease-out 0s infinite normal;
    -o-animation: rotate-half-roll 4s ease-out 0s infinite normal;
    -moz-animation: rotate-half-roll 4s ease-out 0s infinite normal;
}

.content-error p{
    font-size: 16px;
    color: darkslategrey;
}

.my404{
    display: block;
    width : 80%;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 14px;
    text-align: center;
}

.my404-content{
    margin-top: 90px;
}

.my404 a{
    color: #888888;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    line-height: 40px;
    margin-top: 0px;
    text-align: center;
}

.my404-img{
    margin-top: 20px;
}

.my404-img img{
    position: relative;
    top: 30px;
    width: 60px;
}

@keyframes move-up-down-1 {
    0% {
        top: 30px;
    }
    50% {
        top: 60px;
    }
    100% {
        top: 30px;
    }
}
.my404-img1{
    left: -5%;
    animation: move-up-down-1 3s ease-out 0s infinite normal;
}

@keyframes move-up-down-2 {
    0% {
        top: 10px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 10px;
    }
}
.my404-img2{
    left: 0;
    animation: move-up-down-2 3s ease-out 0s infinite normal;
}

@keyframes move-up-down-3 {
    0% {
        top: 20px;
    }
    50% {
        top: 60px;
    }
    100% {
        top: 20px;
    }
}
.my404-img3{
    left: 5%;
    animation: move-up-down-3 3s ease-out 0s infinite normal;
}

@keyframes move-up-down-4 {
    0% {
        top: 30px;
    }
    50% {
        top: 60px;
    }
    100% {
        top: 30px;
    }
}
.my404-img4{
    left: 10%;
    animation: move-up-down-4 3s ease-out 0s infinite normal;
}

#return-top{
	display: block;
	position: fixed;
	right: 180px;
	bottom: 10px;  }

#return-top button{
	cursor: pointer;
	border: none;
	padding: 0;
	width: 48px;
	height: 48px;
    font-size: 48px;
    background: none;
}

.pagination{
	text-align: center;
	margin-top: 20px;
}

.pagination ul{
	list-style: none;
}

.pagination ul li{
	display: inline;
	padding: 5px;
}

.pagination ul li a{
	font-size: 16px;
}

.pagination .active ul li a{
	font-size: 20px;
}

.pagination .disable a:hover{
	color: #888888;
}

#player-hr{
    border: 1px solid #ffffff;
}

/*For PC*/
@media (min-width: 960px) {
    #home-left{
        display: block;
    }
    .home-menu{
        display: block;
    }
    .home-menu-phone{
        display: none;
    }
    footer{
        display: none;
    }
    #return-top{
        right: 170px;
    }
    #home-main{
        width: 100%;
		height: 100%;
    }
	#home-main-left{
		float: left;
		width: 30%;
		height: 100%;
	}
	#home-main-middle{
		float: left;
		width: 50%;
		height: 100%;
	}
	#home-main-right{
		float: left;
		width: 20%;
		height: 100%;
	}
	#home-main-top{
		width: 100%;
		height: 60px;
	}
    #player1{
        opacity: 0.6;
        position: fixed;
        top: 20px;
        left: 10px;
        width: 23%;
        min-height: 64px;
        max-width: 270px;
    }
    #home-links {
        display: block;
    }
    #player1:hover{
        opacity: 0.8;
    }
    #player-hr{
        display: none;
    }
}

/*For Phone*/
@media (max-width: 960px) {
    #home-left{
        display: none;
    }
    .home-menu{
        display: none;
    }
    .home-menu-phone{
        display: block;
    }
    footer{
        display: block;
    }
    #return-top{
        right: 10px;
    }
    #home-main{
        width: 100%;
    }
	#home-main-left{
		float: left;
		width: 10%;
		height: 100%;
	}
	#home-main-middle{
		float: left;
		width: 80%;
		height: 100%;
	}
	#home-main-right{
		float: left;
		width: 10%;
		height: 100%;
	}
	#home-main-top{
		width: 100%;
		height: 20px;
	}
    #home-links {
        display: none;
    }
    #player1{
        opacity: 1;
        position: relative;
        margin-bottom: 20px;
        width: 80%;
        padding: 5px 10%;
        min-height: 64px;
    }
    #player-hr{
        display: block;
    }
}

@font-face {
	font-family: 'icomoon';
	src:    url('../font/icomoon.eot?c8cymx');
	src:    url('../font/icomoon.eot?c8cymx#iefix') format('embedded-opentype'),
	url('../font/icomoon.ttf?c8cymx') format('truetype'),
	url('../font/icomoon.woff?c8cymx') format('woff'),
	url('../font/icomoon.svg?c8cymx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="home-icon-"], [class*=" home-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.home-icon-playstation:before {
    content: "\e901";
	font-size: 23px;
}
.home-icon-github:before {
    content: "\e902";
    font-size: 28px;
}
.home-icon-disqus:before {
    content: "\e22b";
}
.home-icon-home:before {
    content: "\e88a";
}
.home-icon-price-tag:before {
    content: "\e903";
}
.home-icon-resume:before {
    content: "\e90a";
    font-size: 28px;
}
.home-icon-return:before {
    content: "\e905";
}
.home-icon-jump:before {
    content: "\e906";
}
.home-icon-share:before {
    content: "\e907";
}
.home-icon-rss:before {
    content: "\e908";
}
.home-icon-linkedin:before {
    content: "\e909";
}