@import "base";

html, body {
  .full;
}

div,span,h1,h2,h3,h4,h5,h6,a,p,button {
  font-family: @fonts ! important;
}

button, a {
  cursor: pointer;
}

body {
  font-size: @font-size;
}

#main {
  position: relative;
}

.duration-1s{
  -webkit-transition: opacity .5s ease-in,background-color 1s ease-in;
  -moz-transition: opacity .5s ease-in,background-color 1s ease-in;
  -o-transition: opacity .5s ease-in,background-color 1s ease-in;
  transition: opacity .5s ease-in,background-color 1s ease-in;
}

.duration-image{
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#return-top{
  display: block;
  position: fixed;
  right: 180px;
  bottom: 10px;  }

#return-top button{
  cursor: pointer;
  border: none;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 48px;
  background: none;
}

@media (min-width: 960px) {
  #return-top {
    .position(@r: 170px);
  }
}

@media (max-width: 960px) {
  #return-top {
    .position(@r: 10px);
  }
}


#player-hr{
  border: 1px solid #ffffff;
}

@media (min-width: 960px) {
  #player1{
    opacity: 0.6;
    position: fixed;
    top: 20px;
    left: 10px;
    width: 23%;
    min-height: 64px;
    max-width: 270px;
  }

  #player1:hover{
    opacity: 0.8;
  }

  #player-hr{
    display: none;
  }
}

@media (max-width: 960px) {
  #player1{
    opacity: 1;
    position: relative;
    margin-bottom: 20px;
    width: 80%;
    padding: 5px 10%;
    min-height: 64px;
  }

  #player-hr{
    display: block;
  }
}

@font-face {
  font-family: 'icomoon';
  src:    url('../font/icomoon.eot?c8cymx');
  src:    url('../font/icomoon.eot?c8cymx#iefix') format('embedded-opentype'),
  url('../font/icomoon.ttf?c8cymx') format('truetype'),
  url('../font/icomoon.woff?c8cymx') format('woff'),
  url('../font/icomoon.svg?c8cymx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="home-icon-"], [class*=" home-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-icon-playstation:before {
  content: "\e901";
  font-size: 23px;
}
.home-icon-github:before {
  content: "\e902";
  font-size: 28px;
}
.home-icon-disqus:before {
  content: "\e22b";
}
.home-icon-home:before {
  content: "\e88a";
}
.home-icon-price-tag:before {
  content: "\e903";
}
.home-icon-resume:before {
  content: "\e90a";
  font-size: 28px;
}
.home-icon-return:before {
  content: "\e905";
}
.home-icon-jump:before {
  content: "\e906";
}
.home-icon-share:before {
  content: "\e907";
}
.home-icon-rss:before {
  content: "\e908";
}
.home-icon-linkedin:before {
  content: "\e909";
}
