@import (reference) "base.less";


html, body, #container, #container-content {
  .full;
}

div,span,h1,h2,h3,h4,h5,h6,a,p,button {
  font-family: @fonts ! important;
}

h1,h2,h3,h4,h5,h6,p,a {
  word-break: break-all;
}

button, a {
  cursor: pointer;
}

a {
  .no-margin;
  .text(@deco: none, @color: black, @style: normal);
}

p {
  .no-margin;
}

.icon-font {
  .icon-font-family;
}

.duration-main {
  .autoprefix-transition(all @duration-time ease-out);
}

.text-center {
  .text(@align: center);
}

.tag-sp {
  span {
    .padding(@all: 2px 10px 2px 8px);
    .border(@rad: 3px 0 0 3px);
    .text(@color: white);
    .background(@color: rgb(108, 168, 43));
  }

  a {
    .padding(@l: 6px, @r: 6px, @t: 1px, @b: 1px);
    .background(@color: #fafafa);
    .border(@t: 1px solid #dadada, @b: 1px solid #d2d2d2, @r: 1px solid #c5c5c5, @l: 1px solid #dadada);
    .box(@shadow: 0 1px 2px rgba(0, 0, 0, 0.05));

    &:hover {
      .background(@color: #fff);
    }
  }
}

#return-top{
  display: block;
  position: fixed;
  .position(@b: 10px);
  z-index: 10;

  a {
    .border(@all: none);
    .padding(@all: 0);
    .size(48px, 48px);
    .text(@size: 48px);
    .background(@all: none);
    .font-icon(before, return);
  }
}

@media (min-width: 960px) {
  #return-top {
    .position(@r: @menu-width + 10px);
  }
}

@media (max-width: 960px) {
  #return-top {
    .position(@r: 10px);
  }
}


#player-hr{
  border: 1px solid #ffffff;
}

@media (min-width: 960px) {
  body {
    font-size: @font-size;
  }

  #player1{
    opacity: 0.6;
    position: fixed;
    top: 20px;
    left: 10px;
    width: 23%;
    min-height: 64px;
    max-width: 270px;
  }

  #player1:hover{
    opacity: 0.8;
  }

  #player-hr{
    display: none;
  }
}

@media (max-width: 960px) {
  body {
    font-size: @font-size-phone;
  }

  #player1{
    opacity: 1;
    position: relative;
    margin-bottom: 20px;
    width: 80%;
    padding: 5px 10%;
    min-height: 64px;
  }

  #player-hr{
    display: block;
  }
}

@font-face {
  font-family: 'icomoon';
  src:    url('../font/icomoon.eot?c8cymx');
  src:    url('../font/icomoon.eot?c8cymx#iefix') format('embedded-opentype'),
  url('../font/icomoon.ttf?c8cymx') format('truetype'),
  url('../font/icomoon.woff?c8cymx') format('woff'),
  url('../font/icomoon.svg?c8cymx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
