@import (reference) "base.less";

.autoprefix-keyframe-transform(@name, @func, @t1, @t2, @t3: undefined, @use-prefix: true) {
  .base(@prefix, @bind) {
    .t1() {
        @{prefix}@{func}: @t1;
    }
    .t2() {
        @{prefix}@{func}: @t2;
    }
    .t3() {
        @{prefix}@{func}: @t3;
    }
    @start: ~"@{bind}@@{prefix}keyframes @{name} { `'\n'` 0%";
    @{start} { .t1(); }
    .test() when (@t3 = undefined) {
      100% { .t2(); }
    }
    .test() when not (@t3 = undefined) {
      50% { .t2(); }
      100% { .t3(); }
    }
    .test();
  }
  @end:  ~"} `'\n'`";
  .end() {
    @{end} {.wtf {color: #fff}}
  }
  .base(~'', ~'');
  .test() when (@use-prefix = true) {
    .base(-o-, @end);
    .base(-webkit-, @end);
    .base(-moz-, @end);
    .base(-ms-, @end);
  }
  .end();
}

.autoprefix-keyframe-transform(rotate-full, transform, rotate(0deg), rotate(360deg));

#status-wait {
  .margin(@t: 20%, @b: 20%);
  .text(@align: center);

  img {
    .size(@w: 25%);
    .border(@l: dashed, @t: dashed, @rad: 50%);
    .margin(@b: 40px);
    .autoprefix-animation(rotate-full 3s linear 0s infinite normal);
  }

  p {
    .text(@color: darkslategrey, @size: 18px);
  }
}

.autoprefix-keyframe-transform(rotate-half-roll, transform, rotate(0deg), rotate(180deg), rotate(0deg));

#status-error{
  .margin(@t: 20%, @b: 20%);
  .text(@align: center);

  img {
    .size(@w: 25%);
    .border(@l: dashed, @b: dashed, @rad: 50%);
    .margin(@b: 40px);
    .autoprefix-animation(rotate-half-roll 4s ease-out 0s infinite normal);
  }

  p{
    font-size: 16px;
    color: darkslategrey;
  }
}

.autoprefix-keyframe-transform(move-up-down-1, top, 30px, 60px, 30px, false);
.autoprefix-keyframe-transform(move-up-down-2, top, 10px, 50px, 10px, false);
.autoprefix-keyframe-transform(move-up-down-3, top, 20px, 60px, 20px, false);
.autoprefix-keyframe-transform(move-up-down-4, top, 30px, 60px, 30px, false);

#status-404{
  display: block;
  .margin(@t: 5%, @b: 10%);
  .size(@w: 80%);
  .text(@align: center, @size: 14px);

  .content {
    .margin(@t: 90px);
  }

  summary{
    .margin(@b: 20px);

    p {
      .text(@size: 1.1em);
      line-height: 2.5em;
    }
  }

  a {
    .text(@color: #aaa, @size: 1.6em, @weight: bolder, @deco: none);
    line-height: 40px;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;

    &:hover {
      .text(@color: black);
    }
  }

  .img {
    .margin(@t: 20px);

    img {
      position: relative;
      .position(@t: 30px);
      .size(@w: 60px);
    }
  }

  .img1 {
    .position(@l: -5%);
    .autoprefix-animation(move-up-down-1 3s ease-out 0s infinite normal);
  }

  .img2 {
    .position(@l: 0);
    .autoprefix-animation(move-up-down-2 3s ease-out 0s infinite normal);
  }

  .img3 {
    .position(@l: 5%);
    .autoprefix-animation(move-up-down-3 3s ease-out 0s infinite normal);
  }

  .img4 {
    .position(@l: 10%);
    .autoprefix-animation(move-up-down-4 3s ease-out 0s infinite normal);
  }

}